
body {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color: #000000;
  margin: 0;
  background: rgb(69, 133, 143); 
}

h2 {
  text-align: center
}




h1 {
  text-align: center
}



p {
  text-align: center

}

img{
    max-width: 200px;

}

div {
  text-align: center
}


@media (min-width: 500px) { 
    #words {
        float: center;
        align-content: center;
        
    }

label {
    font-weight: bold;
    display: block;
  }
  
  form div {
    padding: 5px 10px;
    align-content: center;
    
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background: pink;
    padding: 10px;;
    text-align: center;
  }
  
 
  
  button[type="yup"] {
    color:greenyellow;
  }
  
  button[type="Horse Feathers"] {
    color: rgb(5, 123, 201);
  }
  
  .correct {
    background-color: lightgreen;
  }
  
  .incorrect {
    background-color: pink;
  }
  
  .hidden {
    display: none;
}
 


.content {
    font-weight: bold;
}  




}